<div class="hello-container">
    <header class="header">
      <h1>Welcome to Vandanam SmartTech</h1>
    </header>
  
    <main class="main-content">
      <!-- <h2>Hello, Welcome to Vandanam SmartTech,Kolhapur</h2> -->
      <p>Vandanam SmartTech: Pioneers in Smart IoT Automation. Crafting tomorrow's solutions today, we blend cutting-edge technology with a commitment to human and environmental well-being. From innovative wireless connectivity to transformative cloud IoT, we're driving impactful change, shaping a brighter, more connected future where innovation meets sustainability.
        Our mission: to transform India’s streetlight future by tackling the inefficiencies of manual operations head-on. With a focus on savings, reliability, safety, and efficiency, our system offers a comprehensive solution tailored to meet the diverse needs of the community.
        All-in-one, cutting-edge technology to execute your ideas and turn them into a reality. From Enterprise Mobility to Augmented Reality,
        InsideOut Solutions is a web and mobile development company focuses on making any business application run successfully.</p>
    </main>
  
    <footer class="footer">
      <p>&copy; 2024 Vandanam SmartTech. All rights reserved.</p>
    </footer>
  </div>